<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Play Board!</h2>
    <button {{action "newGame" 'X'}}>Start New Game With X</button>
    <button {{action "newGame" 'O'}}>Start New Game With O</button>

    <button {{action "reset"}}>Reset All</button>

    <br/> <br/>

    {{#each this.model.boardPosition as |b bi|}}
        <div class="row">
            {{#each b as |k ki|}}
                <button class="button" {{action "buttonClick" k}}>{{get this.model.board k}}</button>
             {{/each}}
        </div>
    {{/each}}

   <h3>Winner : {{this.model.winner}}</h3>

   
   Scorecard :

   <table> 
       <tr>
           <th>Player X</th>
           <th>Player O</th>
       </tr>
       <tr>
           <td>{{this.model.playerXScore}}</td>
           <td>{{this.model.playerOScore}}</td>
       </tr>
   </table>


</div>