

<div class="jumbo">
  <div class="right tomster"></div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <h2>Welcome to Tic Tac Toe!</h2>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-grid">
        <button class="mdl-cell mdl-button mdl-js-button mdl-button--raised" {{action "newGame" "X"}}>Start New Game With X</button>
        <button class="mdl-cell mdl-button mdl-js-button mdl-button--raised" {{action "newGame" "O"}}>Start New Game With O</button>
        <button class="mdl-cell mdl-button mdl-js-button mdl-button--raised" {{action "reset"}}>Reset All</button>
      </div>
    </div>
            
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          {{#each this.model.boardPosition as |b|}}
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                {{#each b as |k|}}
                  <button class="mdc-layout-grid__cell mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect" id="square{{k}}" {{action "buttonClick" k}}>{{get this.model.board k}}</button>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
        <div class="mdl-cell mdl-cell--6-col">
          <div class="mdl-grid">
            <div class="mdl-cell">
              <Scoreboard @model={{this.model}}/>
            </div>    
          </div>
        </div>
      </div>
    </div>  
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-grid">
        <div class="mdl-cell">
          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
          <h3>
            Winner : 
            <div class="material-icons" id="winner_result">{{this.model.winner}}</div>
          </h3>
        </div>
      </div>
    </div>              
  </div>
</div>